body {
    background-color: rgb(1, 0, 64);
    min-height: 100vh;
}

.header {
    background-color: rgb(42, 42, 45);
    height: 120px;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,rgb(15, 163, 196), rgb(42, 42, 45));
    background-repeat: no-repeat;
    min-height: 250px;
    width: 100%;
    height: calc(100vh - 200px);
}

.footer {
    background-color: rgb(3, 83, 50);
    height: 80px;
}

.container {
    max-width: 1440px;
    margin-left: 160px;
    margin-right: 160px;
    height: 120px;
    width: 100%;
    border: solid 1px red;
}