.infoCard {
    width: 100%;
    height: 100%;
    color: white;
}

.image-shortInfo {
    display: flex;
    justify-content: space-around;
}

.dis-flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}