.infoCard {
    width: 100%;
    height: 100%;
    color: white;
}

.image-shortInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.short-info {
    background-color: rgba(0, 0, 0, 0.623);
    padding: 8px;
}

.dis-flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

.grass {
    background: url("../assets/img/grass.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.fire {
    background: url("../assets/img/fire.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.electric {
    background: url("../assets/img/electric.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.ice {
    background: url("../assets/img/ice.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.normal {
    background: url("../assets/img/normal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.poison {
    background: url("../assets/img/poison.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.water {
    background: url("../assets/img/water.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.metal {
    background: url("../assets/img/metal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.fighting {
    background: url("../assets/img/fighting.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.colorless {
    background: url("../assets/img/colorless.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.bug {
    background: url("../assets/img/colorless.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.psychic {
    background: url("../assets/img/colorless.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.dark {
    background: url("../assets/img/metal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.fairy {
    background: url("../assets/img/metal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.dragon {
    background: url("../assets/img/metal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.ground {
    background: url("../assets/img/normal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.rock {
    background: url("../assets/img/colorless.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}


.ghost {
    background: url("../assets/img/metal.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}