.infoCard {
    width: 100%;
    height: 100%;
    color: white;
}

.image-shortInfo {
    display: flex;
    justify-content: space-around;
}

.dis-flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

.grass {
    background: url("../assets/img/grass.png");
    background-position: center;
    object-fit: cover;
}

.fire {
    background: url("../assets/img/fire.png");
    background-position: center;
    object-fit: cover;
}

.electric {
    background: url("../assets/img/electric.png");
    background-position: center;
    object-fit: cover;
}

.ice {
    background: url("../assets/img/ice.png");
    background-position: center;
    object-fit: cover;
}

.normal {
    background: url("../assets/img/normal.png");
    background-position: center;
    object-fit: cover;
}

.poison {
    background: url("../assets/img/poison.png");
    background-position: center;
    object-fit: cover;
}

.water {
    background: url("../assets/img/water.png");
    background-position: center;
    object-fit: cover;
}